/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.main-content {
  flex-grow: 1;
}

.nav,
.main-content,
.footer {
  flex-shrink: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Navbar */
.nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6a90e2;
  color: white;
}

.nav a {
  color: white;
}

.nav a:hover {
  color: salmon;
}

.links {
  display: flex;
}

.fb-btn {
  margin-right: 2rem;
}

.logout {
  display: none;
  margin-right: 2rem;
  color: white;
}

.logout:hover {
  color: salmon;
}

/* Main content */
.main-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #f7f7f7;
}

/* Profile */
.profile {
  display: none;
}

.profile-content {
  margin-top: 1rem;
  width: 20rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
}

.profile-name {
  margin: 1rem;
}

.attr {
  padding: 0.5rem;
  border-top: 1px solid black;
}

/* Posts */
.posts {
  display: none;
  margin: 2rem 0;
}

.post {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
}

/* Main Content template (pre-login) */
.pre-login-content {
  margin-top: -2rem;
}
.login-banner {
  margin-bottom: 1rem;
  margin-left: -2rem;
  margin-right: -2rem;
  padding: 0.5rem;
  background-color: salmon;
  color: white;
  text-align: center;
}

.profile-template {
  width: 30%;
  margin: 1rem 0;
  padding: 1rem;
  background-color: white;
  border: 1px solid #a1a1a1;
  border-radius: 6px;
}

.post-template {
  width: 60%;
  margin: 1rem 0;
  padding: 1rem;
  background-color: white;
  border: 1px solid #a1a1a1;
  border-radius: 6px;
}

.head-bar {
  height: 1rem;
  width: 50%;
  background-color: rgb(180, 180, 180);
  border-radius: 3px;
}

.bar {
  height: 1rem;
  margin-top: 0.5rem;
  background-color: #dddddd;
  border-radius: 3px;
}

/* Footer */
.footer {
  padding: 1rem;
  text-align: center;
  line-height: 2rem;
  border-top: 1px solid grey;
}
